<div class="container">
  <div class="row">
    <div>
      <h3>マイページ</h3><br>
      <table class="table">
        <tr>
          <th>名前</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <% if @user == current_user %>
            <% if @month.present? %>
              <td><%= link_to "予算設定", month_budgets_path(@month), class: "btn btn-primary btn-sm" %></td>
            <% end %>
            <td></td>
            <td><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-secondary btn-sm" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>