<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
      cokakekan
    </p>
    <p class="main-visual-name">
      共同 家計簿管理
    </p>
  </div>
</div>
<div class="main-content">
  <div class="main-content-text">
    <h3>『共同 家計簿管理』とは</h3>
    <p>『共同 家計簿管理』とは同棲している二人の生活費用を管理することです。</p>
    <p>二人の生活費をどちらか一人が管理するのではなく、二人で管理することで</p>
    <p>個人で使ったお金をしっかりと把握して、やりくりを円滑にすることができます。</p>
  </div>
  <div class="main-content-btn">
    <h5>cokakekanで家計を管理してみましょう！</h5>
    <%= link_to "無料で開始する", new_user_registration_path, class:"btn btn-primary btn-sm" %>
  </div>
</div>
<!--cokakekan-->
