@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.header {
  margin-bottom: 20px;
}

.navbar-dark .navbar-brand {
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic",
  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
  border-color: #FFFFFF;
}

li {
  color: #FFFFFF;
}