<% if @month.present? %>
  <footer>
    <div class="fixed-btn">
      <%= link_to new_month_detail_path(@month.id) do %>
        <i class="fas fa-plus-circle fa-3x"></i></div>
      <% end %>
    </div>
  </footer>
<% end %>