<% if @month.present? %>
  <footer>
    <div class="container">
      <div class="row">
        <%= link_to new_month_detail_path(@month.id) do %>
          <div class="plus-bottom"><i class="fas fa-pen"></i></div>
        <% end %>
      </div>
    </div>
  </footer>
<% end %>